%br
- flash.each do |name, msg|
  %div{role:"alert", class: "alert alert-dismissible fade show alert-#{name == "notice" ? "success" : "danger"}"}
    %span= msg
    %button.close{type: "button", "data-dismiss": "alert", "aria-label": "Close"}
      %span{"aria-hidden": "true"} &times;


